body {background-color: #999999; text-align: center; font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 12px;}
a {text-decoration: none;}
.outercontainer{background-color: white; border: solid 1px black; width: 850px; margin: 0 auto;}
.topbar{height: 126px; background: url(images/topbanner.jpg) no-repeat bottom right; position: relative;}
.logobox {position: absolute; top: 5px; left: 30px;}

.menubox{position: absolute; top: 100px; left: 620px;}
.menulist {list-style-type: none;  }
.menulist li {float: left; background-color: #383838; padding: 3px 5px 3px 5px; color: white; border-right: solid 1px white;}
.menulist a {color: white;}

.lineafterbanner{height: 6px; width: 100%; background-color: #F2F4F5; margin: 3px 0px 3px 0px;}

.leftmenubox{border: solid 1px #8e95b4; padding: 7px; margin-left: 5px; margin-bottom: 10px;}
.leftmenutitle{ margin: 5px; color: white; font-size: 20px; padding: 3px 10px 3px 20px; 
	font-weight: bold;  background-color: #8e95b4;}	
.leftmenulist{list-style-type: none;  margin-left: 25px; text-align: left; list-style-image: url(images/productcategorymarker.gif)}
.leftmenulist li {background-color: none; padding: 3px 5px 3px 5px;  margin-left: 10px; color: #838895;}
.leftmenulist li a {color: #838895;}
.leftmenulist ul{list-style-type: none;  list-style-image: url(images/productmarker.gif)}
.leftmenulist li  ul li{background-color: none; padding: 3px 5px 3px 5px; border-right: solid 1px white; margin-left: 10px; color: #ebc02f;}
.leftmenulist li ul li a {color: #ebc02f;}

.productlisttitle{background-image: url('images/menuCake1.png'); background-repeat: no-repeat;}
.ourorderlisttitle{background-image: url('images/menuCake2.png'); background-repeat: no-repeat;}

.pagename{border-bottom: solid 5px #5e6b88; color: #07349a; text-align: left; font-size: 25px; margin-bottom: 3px; font-weight: bold; padding-left: 35px;
	height: 100%; background: url('images/title_image.png') no-repeat;}
.content{margin: 0px 10px 10px 10px; width: 600px;}

.pager{font-weight: bold;}
.pager img{border: none;}

.lightbox img{border: none;}

.errorlist {
    list-style: none;
    color: red;
}

/*index.html start*/
#carusel{width: 600px; height: 350px;}
.carusel-img{width: 600px; height: 350px; background-color: #CFD2D6; border: solid 1px black;}
.welcometextbox{border: solid 1px #8e95b4; padding: 7px; width: 585px; margin-top: 20px;}
/*index.html end*/

/*decorations.html start*/
	.itembox{border: solid 1px #8e95b4; padding: 5px; margin: 5px; position: relative; background-color: #CFD2D6;}
	.itembox img {border: none;}
	.itemtitle{color: blue;}
	.basketbox{position: absolute; top: 90px; left: 105px;}
/*decorations.html end*/

/*makeorder.html start*/
	.sectiontitle{ color: #07349a; text-align: left; font-size: 15px; margin: 10px 0px 10px 10px; font-weight: bold; padding-left: 0px;}
	.notebox{width: 90%; height: 100px; background-color: #F3F4F5; color: #A0A7AD; }
	.inputctrl{background-color: #F3F4F5;}
	.addressbox{margin-left: 30px;}
	.addressbox td {padding: 3px;}
/*makeorder.html end*/
