{% extends "base.html" %}

{% block title %}Delikat - About us{% endblock %}

{% block page_title %}О нас{% endblock %}
{% block header %}
<style type="text/css">
  #map_canvas { height: 300px; width: 550px; margin: 20px;}
  .our_shops h3{ margin-top: 30px; margin-bottom: 30px;
  }
  .our_shops ul {margin-left: 30px;}
</style>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
	$(function() {
MEDIA_ROOT = "/home/velessoft/webapps/static/delikat"
		var latlng = new google.maps.LatLng(46.831059, 29.617131);
		var myOptions = {
		  zoom: 10,
		  center: latlng,
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		var marker = new google.maps.Marker({
			position: latlng,
			map: map,
		});
		var contentString = '<div>'+
			'<div><b>Деликат</b></div>'+
			'<div>р-к "Комсомольский"<br/>г. Тирасполь</div>'+
			'<div>тел: +37353336946</div>'+
			'<div>факс: +37353336946</div>'+
			'</div>';
		var infowindow = new google.maps.InfoWindow({
			content: contentString
		});
		google.maps.event.addListener(marker, 'click', function() {
		  infowindow.open(map,marker);
		});		


	});
	//http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Tiraspol&sll=37.0625,-95.677068&sspn=38.775203,93.076172&ie=UTF8&hq=&hnear=Tiraspol,+Moldova&ll=46.850859,29.644289&spn=0.032754,0.090895&z=14

</script>
{% endblock %}

{% block content %}

<table class="aboutus">
	<tr class="invite">
		<td valign="top">
            <h2>Кафе "У Парома" приглашает провести у нас:</h2>
			<ul>
                <li>Корпоративные и профессиональные праздники</li>
                <li>Дни рождения, юбилеи</li>
                <li>Свадьбы</li>
                <li>Выпускные балы</li>
                <li>Крестины</li>
                <li>Фуршеты</li>
                <li>Поминки</li>
			</ul>
            <p>Уютный зал до 30 посадочных мест, закрытая территория рядом с набережной</p>
			<div style="margin-top: 30px;">
			</div>
			
		</td>
	</tr>
	<tr class='our_shops'>
		<td>
			<h3>Наш адрес</h3>
			<div id="map_canvas">asd</div>
            <ul>
                <li>г. Тирасполь</li>
                <li>Ул. 1 Мая,2 блок "Е" (Рядом с паромом)</li>
                <li>тел: (0533) 55811, (0533) 88111</li>
            </ul>
		</td>
	</tr>
</table>



{% endblock %}


