{% load pub_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}Delikat web site{% endblock %}</title>
<link rel="shortcut icon" type="image/x-icon"  href="{{STATIC_URL}}favicon.ico">
<script type="text/javascript" src="{{STATIC_URL}}jquery.js"></script>
<link href="{{STATIC_URL}}style.css?test=1" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}thickbox.css" type="text/css" media="screen" />
{% block header %}{% endblock %}
<meta name="keywords" content="" />
<meta name="description" content="" />

</head>
<body>
<div class="outercontainer">
	<div class="topbar">
		<div class="logobox"><img src="{{STATIC_URL}}images/logo.gif"/></div>
		<div class="menubox">
			<ul class="menulist">
				<li class="menuitem"><a href="/">Домашняя</a></li>
				<li class="menuitem"><a href="/aboutus/">О нас</a></li>
				<li class="menuitem"><a href="/help/">Помощь</a></li>
			</ul>
		</div>
	</div>
	<div class="lineafterbanner"></div>
	<table>
		<tr>
			<td valign="top">
				<div class="leftmenubox">
					<div class="leftmenutitle  productlisttitle">Наши продукты</div>
					{% autoescape off %}
					<ul class="leftmenulist">
						<li>
							<h2><a href="/decorations/">Оформление</a></h2>
							<ul>
							    {% for cat in decorationcats %}
                                    <li><a href="{{ cat.get_absolute_url }}">{{ cat.title_ru }}</a></li>
                                {% endfor %}
							</ul>
						</li>
						<li><h2>Печенье</h2></li>
					</ul>
					{% endautoescape %}
				</div>
				
				<div class="leftmenubox">
					<div class="leftmenutitle  ourorderlisttitle" style="text-align: left;">Контакты</div>
					{% autoescape off %}
							<div>
							г.Тирасполь
							</div>

							<div>
							Ул. 1 Мая,2 блок "Е" (Рядом с паромом)
							</div>

							<div>
							тел: (0533) 55811
							</div>

							<div>
							тел: (0533) 88111
							</div>
					{% endautoescape %}
				</div>				
			</td>
			<td  valign="top">
			<div class="content">
				<div class="pagename">{% block page_title %}Добро пожаловать!!!{% endblock %}</div>
			{% block content %}This is main content{% endblock %}
			</div>
			
			</td>
		</tr>
	</table>
</div>

</html>
