{% extends "base.html" %}

{% block title %}Delikat - Контакты{% endblock %}

{% block page_title %}Contacts{% endblock %}
{% block header %}
<style type="text/css">
  #map_canvas { height: 300px; width: 300px; margin: 20px;}
  h3 {text-align: left; margin-top: 20px; margin-bottom: 20px;}
  h4 {margin-top: 20px; text-align: left;}
  p {text-align: left;}
</style>
{% endblock %}

{% block content %}
<h3>КАК ОФОРМИТЬ ЗАКАЗ.</h3>

<p>Мы постараемся помочь Вам оформить заказ в Кондитерском цехе «ДЕЛИКАТ».</p>

<h3>
КАТАЛОГ ИЗДЕЛИЙ.
</h3>

<p>
Просмотрите каталог тех тортов, которые мы уже изготовляли для наших клиентов,

	Если Вам понравился внешний вид какого-то изделия, то Вы можете просто указать в 

	заявке номер этого изделия и мы будем рады исполнить Ваш заказ.

	По Вашему желанию можно изменить цветовое оформление торта, добавить или 

	уменьшить количество украшений. Мы готовы выполнить Ваши пожелания, пожалуйста 

	Может быть Вы где-то видели другое оформление, которое больше соответствует 

	Вашим вкусам и интересам, пришлите описание или изображение и мы воплотим их 

	в готовое изделие. Если у Вас возникнут вопросы еще в момент обдумывания заказа, 

	ЗВОНИТЕ нам и наши специалисты помогут в оформлении заказа.
	</p>

 <h3>СОСТАВ ТОРТА</h3>
	<p>
(А что там внутри?)
	</p>

	<p>
	Безусловно, очень большое значение, имеет внешний вид торта, но не менее важно, что же 

	Мы предлагаем Вам несколько составов тортов, которые включают классические 

	рецепты, рецепты которые мы собираем со всего мира и рецепты разработанные нашим 

	опытным технологом.
	</p>

	<h3>
	СРОК ВЫПОЛНЕНИЯ ЗАКАЗА.
	</h3>

	<p>
	Наш цех работает круглосуточно и только в некоторые дни мы позволяем себе выходные, 

	значит мы можем выполнить Ваш заказ очень быстро, но все же будет лучше, если у нас 

	в запасе будет 2-3 дня для выполнения заявки, а для выполнения особо сложного торта 

	требуется еще больше времени. Надо и подставку подобрать и зарезервировать ее для Вас 

	и какие то фигурки и цветы изготовить заранее…

	Точные сроки изготовления согласуйте с нашим менеджером.
	</p>

	<h3>
	ПОРЯДОК ОПЛАТЫ И СТОИМОСТЬ ЗАКАЗА.
	</h3>

	<p>
	Для того, чтобы приступить к выполнению заказа, нам над получить предоплату, 

	примерно 50% от стоимости заказа, а определить стоимость Вы можете связавшись 

	по телефону с нашим менеджером, учитывая вес, сложность, элементы украшения и 

	наполнители торта.

	Оставшуюся часть стоимости торта можно оплатить, когда Вы будете торт забирать 

	сами (самовывоз) или когда мы привезем его по указанному адресу.

	Не забудьте указать в заявке Ваши контактные данные для дополнительных 

	консультаций и уточнений.
	</p>

	<h3>
	ВЕС ТОРТА.
	</h3>

	<p>
	Практика показывает, Что вес торта для заказа можно определить следующим подсчетом:

	100-150 грамм на человека.

	Но есть торты, которые нельзя сделать меньше двух килограмм весом.

	Обсудите этот вопрос с нашим менеджером.

	Мы всегда готовы идти Вам навстречу.
	</p>
	<h4>
	Звоните по телефону (0533) 55811 если долго не отвечают, звоните (0533) 88111
	</h4>
{% endblock %}


