<h1>Заказ</h1>

<table border="1">
    <tr><td>Номер украшения</td><td>{{ decoration_id }}</td></tr>
    <tr><td>Комментарий к украшению</td><td>{{ DecorationNote }}</td></tr>
    <tr><td>Состав</td><td>{{ DecorationIngredient }}. {{ decoration_ingredient_name }}</td></tr>
    <tr><td>Комментарий к составу</td><td>{{ TortNote }}</td></tr>
    <tr><td>Клиент</td><td>{{ CustomerName }}</td></tr>
    <tr><td>Эл. адрес</td><td>{{ EMail }}</td></tr>
    <tr><td>Телефон</td><td>{{ Phone }}</td></tr>
    <tr><td>Адрес доставки</td><td>{{ DeliveryAddress }}</td></tr>
    <tr><td>Коментарий</td><td>{{ Note }}</td></tr>
</table>