<h1>Заказ</h1>

<table>
    <tr>
        <td>Номер украшения</td><td>{{ decoration_id }}</td>
        <td>Комментарий к украшению</td><td>{{ DecorationNote }}</td>
        <td>Состав</td><td>{{ DecorationIngredient }}</td>
        <td>Комментарий к составу</td><td>{{ TortNote }}</td>
        <td>Клиент</td><td>{{ CustomerName }}</td>
        <td>Эл. адрес</td><td>{{ EMail }}</td>
        <td>Телефон</td><td>{{ Phone }}</td>
        <td>Адрес доставки</td><td>{{ DeliveryAddress }}</td>
        <td>Коментарий</td><td>{{ Note }}</td>
    </tr>
</table>