<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Under Contruction</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
		<style type="text/css">
			body {
				background-color: #999999 
			}

			.text {
				font-family:Berlin Sans FB;
				font-size:28px;
				font-weight:normal;
				font-style:normal;
				text-decoration:none;
				color:#07349A;
				letter-spacing:0.0em;
			}
			.text_sm {
				font-family:Berlin Sans FB;
				font-size:16px;
				font-weight:normal;
				font-style:normal;
				text-decoration:none;
				color:#07349A;
				letter-spacing:0.0em;
			}
		</style>
	</head>
	<body>
		<div align="center">
			<img src="{{MEDIA_URL}}under_construction.png" /> 
		</div>
	<div style="position: absolute; left:320px; top:280px;">
		<span class="text">Сайт находится в разработке.</span> <br/><br/> <br/><br/> 
		<span class="text_sm" >We are happy to announce you that soon we will present you our great <br/>
								& interesting variety of cakes for all kind of events & occasions. <br/><br/> 
								Within our web-site you will be able to see our beautiful cakes <br/>
								as well as to make an on-line order.<br/><br/> 
								We hope you will visit us again soon, for a 'sweet-sweet' surf! <br/><br/>
								Till then, have a nice day!			
		</span>

	</div>

	</body>
</html>